* {
  box-sizing: border-box;
  font-family: 'Gamja Flower', cursive;
}

body {
  display: flex;
  flex-direction: column;

  background-image: url("images/backgroundw.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  border-radius: 12px;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  justify-content: center; /* środek w pionie */
  align-items: center;     /* środek w poziomie */
}

h1 {
  margin-bottom: 20px;
}

/* LOGOWANIE */
#login {
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

#login input {
  padding: 10px;
}

#login button {
  padding: 10px;
  margin-left: 10px;
}

/* CZAT */
#chat {
  width: 450px;
  height: 600px;
  display: none;
  flex-direction: column;

  background-image: url("images/chatbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  border-radius: 12px;
  overflow: hidden;
}
/*nagłowek*/

#chatHeader {
  color: white;
  padding: 10px;
  background: transparent;
  text-align: center;
  font-weight: bold;
}

/* wiadomości */
#messages {
  text-align: left;
  color: white;
  flex: 1;
  padding: 55px;
  overflow-y: auto;
  background: none;
  max-height: 80%;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* pasekl dolny */
#inputBar {
  text-align: center;
  display: ;
  background: transparent;
}

#inpuBar input {
  text-align: center;
  flex: 1;
  padding: 10px;
  border: none;
}

#inputBar button {
  text-align: center;
  padding: 10px;
  border: none;
  cursor: pointer;
}
  


















