body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#chat {
  background-image: url("images/chat-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#messages {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

input, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;

}
