body {
  background: #111;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Arial;
  color: white;
}

/*główny kontener*/
#app {
  width: 400px;
}

/*login i czat*/
#login, #chat {
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

/*ukrywanie czatu*/
#chat {
  display: none;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

#error {
  color: red;
  margin-top: 5px;
}
