* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;

  background-image: url("images/backgroundw.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  border-radius: 12px;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  justify-content: center; /* środek w pionie */
  align-items: center;     /* środek w poziomie */
}

h1 {
  margin-bottom: 20px;
}

/* LOGOWANIE */
#login {
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

#login input {
  padding: 10px;
}

#login button {
  padding: 10px;
  margin-left: 10px;
}

/* CZAT */
#chat {
  width: 600px;
  height: 700px;
  display: none;
  flex-direction: column;

  background-image: url("images/chatbackground.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  border-radius: 12px;
  overflow: hidden;
}
/*nagłowek*/

#chatHeader {
  padding: 10px;
  background: transparent;
  text-align: center;
  fon-weight: bold;
}

/* wiadomości */
#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: none;
}

/* pasekl dolny */
#inputBar {
  display: flex;
  background: transparent;
}

#inpuBar input {
  flex: 1;
  padding: 10px;
  border: none;
}

#inputBar button {
  padding: 10px;
  border: none;
  cursor: pointer;
}
  


















