/* ===== GLOBAL ===== */
* {
  box-sizing: border-box;
  font-family: 'LXGW WenKai Mono TC', monospace;
  font-size: 22px;
}

body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("images/backgroundw.png");
  background-size: cover;
  background-position: center;
}

/* ===== LOGOWANIE ===== */
#login {
  position: absolute;
  z-index: 10;

  background: #222;
  padding: 20px;
  border-radius: 10px;
}

#login input {
  padding: 10px;
}

#login button {
  padding: 10px;
  margin-left: 10px;
}

/* ===== CIEŃ ===== */
#shadow {
  position: absolute;
  width: 1200px;
  height: 935px;

  background-image: url("images/window-shadow.png");
  background-size: cover;

  z-index: 1;
}

/* ===== GŁÓWNE OKNO ===== */
#mainWindow {
  position: relative;
  width: 1100px;
  height: 835px;

  display: flex;
  align-items: center;

  background-image: url("images/main-window.png");
  background-size: cover;

  z-index: 2;
}

/* ===== LEWE PRZYCISKI ===== */
#leftMenu {
  width: 110px;
  margin-left: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.menuBtn {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.bigBtn {
  height: 125px;
}

/* ===== CZAT ===== */
#chat {
  width: 420px;
  height: 570px;

  margin-left: 16px;

  display: flex;
  flex-direction: column;

  background-image: url("images/chatbackground.png");
  background-size: cover;

  border-radius: 12px;
}

#chatHeader {
  text-align: center;
  padding: 16px;
  color: white;
}

#messages {
  flex: 1;
  text-align: left;
  margin-left: 20px;
  padding: 16px;
  overflow-y: auto;
  color: white;
  word-wrap: break-word;
}

#inputBar {
  display: flex;
  gap: 1px;
  padding: 12px;
}

#inputBar input {
  flex: 1;
  padding: 1px;
  max-width: 200px;
  margin-left: 60px;
  margin-bottom: 20px;
}

#inputBar button {
  padding: 7px 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* ===== INFO ===== */
#infoWindow {
  color: white;
  width: 275px;
  height: 585px;

  margin-left: 1px;

  background-image: url("images/info.png");
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.infoHeader {
  font-size: 30px;
  padding: 40px;
  text-align: center;
  font-weight: bold;
}

.infoContent {
  padding: 50px;
  flex: 1;
}

/* ===== ONLINE ===== */
#onlineWindow {
  font-family: 'Gamja Flower', cursive;
  width: 235px;
  height: 570px;

  margin-left: 1px;
  margin-right: 50px;

  background-image: url("images/online.png");
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.onlineHeader {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

#usersOnline {
  flex: 1;
  text-align: center;
  margin-top: 70px;
  padding: 10px;
  overflow-y: auto;
  color: white;
}

