* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  color: white;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center; /* środek w pionie */
  align-items: center;     /* środek w poziomie */
}

h1 {
  margin-bottom: 20px;
}

/* LOGOWANIE */
#login {
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

#login input {
  padding: 10px;
}

#login button {
  padding: 10px;
  margin-left: 10px;
}

/* CZAT */
#chat {
  width: 400px;
  height: 500px;
  display: none;
  flex-direction: column;

  background: url("images/chatbackground.png") center / contain no-repeat,
              red;

  border-radius: 12px;
  overflow: hidden;
}

/*nagłowek*/

#chatHeader {
  padding: 10px;
  background: #333;
  text-align: center;
  fon-weight: bold;
}

/* wiadomości */
#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #1a1a1a;
}

/* pasekl dolny */
#inputBar {
  display: flex;
  background: #333;
}

#inpuBar input {
  flex: 1;
  padding: 10px;
  border: none;
}

#inputBar button {
  padding: 10px;
  border: none;
  cursor: pointer;
}
  











